.s14 {
  .square {
    background: #fff;
    border: 1px solid black;
    float: left;
    font: 25px "Century Gothic", Futura, sans-serif;
    line-height: 20px;
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    outline: none;
  }
  
  .btn {
    font: 15px "Century Gothic", Futura, sans-serif;
    text-align: center;
    border: 1px solid lightblue;
    outline: none;
    cursor: pointer;
    background: rgb(93, 194, 228);
    padding: 0.5em 1em;
    color: #fff;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
    margin-left: 10px;
  }
  
  button:disabled,
  button[disabled]{
    color: black;
  }
  
  .blocked {
    background: black;
  }
  
  .unclick {
    background: lightgray;
  }
  
  .note{
    font: 25px "Century Gothic", Futura, sans-serif;
    line-height: 30px;
  }
  
  .subscript {
    font: 15px "Century Gothic", Futura, sans-serif, italic;
  }
  
  .footer {
    color:cyan;
    font: 15px "Comic Sans MS", "Comic Sans";
    float: right;
    bottom: 10px;
    right: 10px;
  }
  
  .newline {
    display: table;
  }
}