.tourist{
    th,
    td {
        padding: 5px;
    }

    tr {
        padding: 5px;
    }
}
.buttoncircle1 {
    border-radius: 10000px;
    padding: 10px 13px;
    color: blue;
    background: white;
}
.buttoncircle2 {
    border-radius: 10000px;
    padding: 10px 13px;
    color: blue;
    background: black;
}
.khung{
    background: violet;
    color: blue;
}